
@{
    Layout ="~/Views/Shared/_Customerlayout.cshtml"; 
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Css/Quiz.css" rel="stylesheet" />
</head>
<body>
    <div class="container mndiv">
        <br/>
        <div class="col-lg-10">
            @*<div class="col-lg-2">Balance $<span id="banace">20</span></div>*@
        </div>
        
        
        <div class="col-lg-2 blncearea">
            Balance $<span id="banace">20</span>
            <img src="~/Images/Dollar-sign-money-547938.gif" style="margin-left:40px;" width="50px" height="50px"/>
        </div>
        <br/>
        <hr />
        <br/>
        <a href="http://localhost:50699/Quiz/QuizDemo">
            <div class="col-lg-10 Div1">
                <table>
                    <tr>
                        <td style="width:65%;">Quiz:Quiz 1</td>
                        <td style="width:25%;">Starts At :2.05</td>
                    </tr>
                </table>

            </div>
            </a>

            <hr />
            <br />
            <br />
            <a href="http://localhost:50699/Quiz/QuizDemo">
                <div class="col-lg-10 Div1">

                    <table>
                        <tr>
                            <td style="width:65%;">Quiz:Quiz 1</td>
                            <td style="width:25%;">Starts At :2.10</td>
                        </tr>
                    </table>
                </div>
            </a>
            <hr />
            <br />
            <br />
            <a href="http://localhost:50699/Quiz/QuizDemo">
                <div class="col-lg-10 Div1">
                    <table>
                        <tr>
                            <td style="width:65%;">Quiz:Quiz 1</td>
                            <td style="width:25%;">Starts At :2.15</td>
                        </tr>
                    </table>

                </div>
            </a>

            <hr />
            <br />
            <br />
            <a href="http://localhost:50699/Quiz/QuizDemo">
                <div class="col-lg-10 Div1">
                    <table>
                        <tr>
                            <td style="width:65%;">Quiz:Quiz 1</td>
                            <td style="width:25%;">Starts At :2.20</td>
                        </tr>
                    </table>

                </div>
            </a>

            <hr />
            <br />
            <br />
            <a href="http://localhost:50699/Quiz/QuizDemo">
                <div class="col-lg-10 Div1">
                    <table>
                        <tr>
                            <td style="width:65%;">Quiz:Quiz 1</td>
                            <td style="width:25%;">Starts At :2.25</td>
                        </tr>
                    </table>

                </div>
            </a>

</div>

</body>


</html>

